data_and_models/data 
data_and_models/generated_imgs_on_training
data_and_models/saved_models 
__pycache__/
nn_ops/__pycache__
.venv/
venv/
/venv
/saved_models
main/__pycache__
digit-guess-web/node_modules/
.DS_Store